:root {
    --backgroundColor: #d9d9d9;
    --primaryNavbarColor: #525fe1;
    --cardFirst: #1C2688;
    --cardSec: #F86F03;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: var(--backgroundColor);
    font-family: 'Poppins', sans-serif;
    height: 150vh;
}

/* Navbar */

nav {
    position: fixed;
    top: 15px;
    left: 25px;
    right: 25px;
    background-color: var(--primaryNavbarColor);
    padding: .8em 0;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

nav .navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav .navbar-content .hamburger {
    height: 2rem;
    width: 2rem;
    color: white;
}

nav .navbar-content h1 {
    font-weight: 600;
    font-size: 2rem;
    color: white;
}


.searchdiv {
    display: none;
    color: white;
}

nav .navbar-content input[type="text"]{
    flex-grow: .3;
    background-color: var(--primaryNavbarColor);
    border: 1px solid white;
    color: white;
    outline: none;
    padding: .8em 1.5em;
    border-radius: 30px;
}

nav .navbar-content input[type="text"]:hover{
    cursor: pointer;
}

nav .navbar-content input[type="text"]::placeholder,
nav .navbar-content input[type="text"] 
{
    color: white;
    font-weight:400;
    font-size: 1rem;
    letter-spacing: 1.5px;
}



nav .navbar-content .menu ul {
    display: inline-block;
    position:absolute;
    background-color: white;
    box-shadow: 0px 10px 20px -5px rgba(0, 92, 186, 0.5);
    margin-left: 10px;
    border-radius: 20px;
    transition: 150ms ease;
    transform: scale(0);

}

nav .navbar-content .menu ul li a{
    display: block;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    z-index: 999;
}

nav .navbar-content .menu ul li a:hover {
    color: var(--cardSec);
}

nav .navbar-content .menu:hover ul {
    transform: scale(1);
}

/* Hero */
.hero {
    margin: 0 45px;
    margin-top: clamp(100px,9vw,120px); 
    /* margin-top: 8vw; */
    display: flex;
    /* grid-template-columns: 2fr .7fr; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 50px;
}

.hero .hero-content {
    flex-grow: 2;
    flex-basis: min(100%,450px);
    font-family: 'Montserrat', sans-serif;
}

/* .hero .hero-content .hero-title {
    min-width: 200px;
} */

.hero .hero-content .hero-title h1 {
    font-weight: 800;
    font-size: clamp(3rem,3.6vw,4rem);
}
.hero .hero-content .hero-title h2 {
    margin-top: 10px;
    font-weight: 600;
    font-size: clamp(.8rem,1.5vw,1.8rem);
    letter-spacing: 2px;
    color: rgba(0, 0, 0, .5);
}

.hero .hero-content .hero-title h2 span {
    font-style: italic;
}

.hero .hero-content .hero-card,
.hero-card {
    margin-top: calc(65px + 0.9vw);
    background: linear-gradient(143deg, rgba(82, 95, 225, 0.60) 30.73%, rgba(255, 255, 255, 0.20) 100%);
    padding: 2.5em 2em;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -5px rgba(0, 92, 186, 0.50);
    /* width: min(90%,100ch); */
}

.hero .hero-content .hero-card h1,
.hero-card h1 {
    font-weight: 700;
    font-size: clamp(1.3rem,2.3vw,3rem);
    letter-spacing: 4px;
}

.hero .hero-content .hero-card p,
.hero-card p {
    font-weight: 500;
    font-size: clamp(.9rem,1vw,3rem);
    line-height: 1.5;
    margin-top: calc(14px + 1vw);
}

.hero .hero-item {
    flex-grow: 1;
    /* flex-basis: max(100%,90px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hero .hero-item .hero-image {
    background-image: url(../assets/img/hero-img.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    width: 86%;
    /* height: min(45vh,400px); */
    height: 20vw;
    border-radius: 1vw;
}

.hero .hero-item .cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.hero .hero-item .card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: white;
    padding: 2em 1em;
    width: 70%;
    border-radius: 12px; 
    box-shadow: 0px 4px 20px -5px rgba(189, 27, 27, 0.50);
}

.hero .hero-item .card:nth-child(2n+1) {
    background-color: var(--cardFirst);
}
.hero .hero-item .card:nth-child(2n) {
    background-color: var(--cardSec);
}

/* Galleries */

.galleries {
    margin-top: calc(3rem + 0.9vw);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--primaryNavbarColor);
    padding: 2.5em 0;
}

.galleries .card-galleries {
    margin: calc(25px + 1vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(15px + 0.325vw);
}

.galleries .card-galleries img {
    width: max(140px,10vw);
    height: max(140px,10vw);
    border-radius: calc(5px + 1vw);
}

.galleries .card-galleries h1 {
    font-size: clamp(1rem,1.2vw, 4rem);
    color: white;
}

.sections {
    margin: calc(40px + 3vw) 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sections .hero-card {
    flex: 1;
    flex-basis: 100%;
    margin-top: 0;
}








@media (max-width:800px) {
    nav .searchdiv {
        display: block;
    }

    nav input[type="text"]{
        display: none;
    }
}

