:root {
    --backgroundColor: #d9d9d9;
    --primaryNavbarColor: #525fe1;
    --cardFirst: #1C2688;
    --cardSec: #F86F03;
    --profilePadding: #ffa41b;
    --fontColor: #015cba;
    --fontSecondaryColor: #4f9bfd;
    --activitiesCard1: #FFFC83;
    --activitiesCard2: #fff;
    --activitiesCard3: #C883FF;
    --buttonColor: #D9D9D9;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: var(--backgroundColor);
    font-family: 'Poppins', sans-serif;
    height: 150vh;
}

nav {
    position: fixed;
    top: 15px;
    left: 25px;
    right: 25px;
    background-color: var(--primaryNavbarColor);
    padding: .8em 0;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

nav .navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav .navbar-content .hamburger {
    height: 2rem;
    width: 2rem;
    color: white;
}

nav .navbar-content h1 {
    font-weight: 600;
    font-size: 2rem;
    color: white;
}


.searchdiv {
    display: none;
    color: white;
}

nav .navbar-content input[type="text"]{
    flex-grow: .3;
    background-color: var(--primaryNavbarColor);
    border: 1px solid white;
    color: white;
    outline: none;
    padding: .8em 1.5em;
    border-radius: 30px;
}

nav .navbar-content input[type="text"]:hover{
    cursor: pointer;
}

nav .navbar-content input[type="text"]::placeholder,
nav .navbar-content input[type="text"] 
{
    color: white;
    font-weight:400;
    font-size: 1rem;
    letter-spacing: 1.5px;
}



nav .navbar-content .menu ul {
    display: inline-block;
    position:absolute;
    background-color: white;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px -5px rgba(0, 92, 186, 0.50);
    transition: 150ms ease;
    transform: scale(0);
}

nav .navbar-content .menu ul li a{
    display: block;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    z-index: 999;
}

nav .navbar-content .menu ul li a:hover {
    color: var(--cardSec);
}

nav .navbar-content .menu:hover ul {
    transform: scale(1);
}

/* Content */

.content {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    margin: 0 45px;
    margin-top: clamp(100px,9vw,120px); 
    gap: calc(12px + 2vw);
    font-family: 'Montserrat', sans-serif;
}

.content h1 {
    font-weight: 800;
    font-size: clamp(45px,3vw,70px);
    letter-spacing: 1.8px;
    color: var(--primaryNavbarColor);
}

.content .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: space-around;
    /* grid-template-columns: repeat(auto-fit,minmax(500px,1fr)) ; */
}

.content .container .user {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
}

.content .container .user .userIcon {
    width: 7vw;
    height: 7vw;
    padding: 2em;
    background-color: var(--profilePadding);
    border-radius: 50%;
}

.content .container .biodata {
    flex-grow: 1;
    flex-basis: 0;
    border: calc(2px + 0.01vw) solid var(--cardFirst);
    padding: 3em 4em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

.content .container .biodata .section {
    line-height: 1.2;
}


.content .container .biodata h2 {
    font-weight: 700;
    font-size: calc(1rem + .8vw);
    color: var(--fontColor);
}

.content .container .biodata p {
    font-size: calc(.8rem + .2vw);
    color: var(--fontSecondaryColor);
}


.content .activities {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--primaryNavbarColor);
    box-shadow: 0px 10px 20px -5px rgba(0, 92, 186, 0.50);
    padding: 1em 1.4em;
    border-radius: 10px;
    min-width: 200px;
}

.content .activities .activities-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .activities .activities-title h2,
.content .activities .activities-title .plusIcon {
    color: white;
}

.content .activities .activities-title h2 {
    font-weight: 700;
    font-size: 1.6rem;
}

.content .container .activities .container {
    display: flex;
    flex-direction: column;
}

.content .container .activities .container .card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 1em 1.5em;
    border-radius: 10px;

}

.content .container .activities .container .card:nth-child(1) {
    background-color: var(--activitiesCard1);
}
.content .container .activities .container .card:nth-child(2) {
    background-color: var(--activitiesCard2);
}
.content .container .activities .container .card:nth-child(3) {
    background-color: var(--activitiesCard3);
}

.content .container .activities .container .card h3 {
    font-weight: 600;
    font-size: 1rem;
    /* margin-bottom: 4px; */
}

.content .container .activities .container .card p {
    font-size: .9rem;
    line-height: 1.2;
    letter-spacing: .6px;
}

.content .container .activities .container .card .next {
    display: flex;
    justify-content: flex-end;
}

.content .container .activities button {
    font-family: 'Poppins',sans-serif;
    border: none;
    background-color: var(--buttonColor);
    font-weight: 800;
    font-size: 1.2rem;
    padding: .3em 1em;
    border-radius: 20px;
}

.content .container .activities button:hover {
    cursor: pointer;
    transform: scale(1.1);
}